@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
}

body {
	background-color: #f7f7f7;
}

/* boardList.jsp */
#board_list {
	margin-top: 20px;
}

#board_list h2 {
	font-size: 30px;
	text-align: center;
}

#board_list #search-box {
	width: 90%;
	margin: 10px auto;
	text-align: right;
}

#board_list #search-box select, input{
	margin-right: 5px;
	font-size: 16px;
}

#board_list #search-box select option{
	font-size: 16px;
}

#board_list #search-box button{
	display: inline-block;
	font-size: 15px;
	padding: 3px 5px;
	color: #333;
	font-size: 18px;
	border: 1px solid #dbdbdb;
	border-radius: 10px;
}

#board_list #search-box button:hover {
	cursor: pointer;
}

/* 게시판 테이블 */
table {
	width: 90%;
	margin: 40px auto 10px;
	margin-top: 20px;
	border-collapse: collapse;
}

th {
	background-color: #fa8258;
	color: #fff;
}

td, th {
	border: 1px solid #dbdbdb;
	padding: 5px 20px;
	font-size: 15px;
}

td:hover {
	cursor: pointer
}

tr:nth-of-type(odd) {
	background: #eee;
}

/* 컬럼의 너비 */
.no { width: 5%; }
.division { width: 15% }
.title { width: 50%; }
.writer { width: 15%; }

/* 컬럼의 정렬 */
tr td:nth-child(1) { text-align: center; }
tr td:nth-child(2) { text-align: center; }
tr td:nth-child(3) { text-align: left; }
tr td:nth-child(4) { text-align: center; }
tr td:nth-child(5) { text-align: center; }

/* 페이징 버튼 */
#page-box {
	width: 80%;
	margin: 5px auto;
	height: 30px;
	text-align: center;
}

#page-box button {
	display: inline-block;
	margin-right: 3px;
	padding: 3px 5px;
	color: #333;
	font-size: 18px;
	border: 1px solid #dbdbdb;
	border-radius: 10px;
}

#page-box button:hover {
	cursor: pointer;
}

#insert-box {
	width: 90%;
	margin: 5px auto;
	text-align: right;
}

#insert-box #board-btn-insert {
	display: inline-block;
	margin-right: 3px;
	padding: 3px 5px;
	color: #333;
	font-size: 18px;
	border: 1px solid #dbdbdb;
	border-radius: 10px;
}

#insert-box #board-btn-insert:hover {
	cursor: pointer;
}

/* boardInsert.jsp */
#messege_write {
	background-color: #fff;
	width: 600px;
	height: 615px;
	margin: 0px auto;
	padding: 40px;
	border: 2px solid #EAEBEB;
	border-radius: 10px;
}

#messege_write h2 {
	margin-bottom: 10px;
	text-align: center;
	font-size: 25px;
}

#messege_write #labelZone {
	display: inline-block;
	text-align: left;
}

#messege_write #labelZone div {
	margin-bottom: 7px;
}

#messege_write #textZone {
	display: inline-block;
	margin-left: 13px;
	text-align: left;
}

#messege_write #textZone div {
	margin-bottom: 5px;
}

#messege_write #textZone div input[type=date] {
	width: 203px;
}

#messege_write #textZone div select{
	font-size: 16.5px;
}

#messege_write #textZone div select option{
	font-size: 16.5px;
}

#messege_write #textZone #btn_search {
	font-size: 15px;
	width: 50px;
	padding: 5px;
	border: none;
	border-radius: 5px;	
}

#messege_write #Board_insert_textarea {
	margin-top: 5px;
}

#messege_write #Board_insert_textarea textarea{
  box-sizing: border-box;
 	padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  resize: none;
}

#messege_write #btnZone {
	text-align: center;
	margin: 10px;
}

#messege_write #btnZone #btn_write {
	width: 70px;
	margin-left: auto;
	margin-right: 10px;
	padding: 5px;
	background-color: #fa8258;
	color: #fff;
	border: none;
	border-radius: 10px;	
}

#messege_write #btnZone #btn_cancel {
	width: 70px;
	margin-right: 10px;
	padding: 5px;
	background-color: #d7d7d7;
	border: none;
	border-radius: 10px;
	color: #888;
}