@charset "UTF-8";

#login {
	padding:8px;
	text-align: right;
}


#header {
	position: relative;
	height:150px;
	color: #fff;
	padding: 10px;
	background-color: #7C99AC;
}
#header nav{
	position: absolute;
	right:5px;
	bottom:6px;
}
#header nav>a{
	text-decoration: none;
	border:1px solid #eee;
	color:#fff;
	padding:5px 5px;
	width:120px;
	float:left;
	text-align: center;
}
#header nav>a:first-child{
	border-left:2px solid #eee;
	border-radius:10px 0 0 10px;
}
#header nav>a:last-child{
	border-right:2px solid #eee;
	border-radius: 0 10px 10px 0;
}
nav>a:hover{
	background-color:#fffc;
	color:#7F7C82;
}
#footer{
	height:150px;
	background-color:#C9CCD5;
}
	