@charset "UTF-8";

/* 전체 CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: 0;
	overflow: hidden;
}

/* 전체 Box */
#container {
	display: inline-block;
	width: 570px;
	height: 430px;
	margin: 10px;
	padding: 10px;
	border: 2px solid #EAEBEB;
	border-radius: 10px 10px 10px 10px;
}

/* 투표하기 */
#pollFormTable{
	border-collapse: collapse;
	table-layout: fixed;
}

#pollFormTable th{
	background-color: #FF9D7B;
  color: white;
  text-align: center;
  padding: 8px;
  font-size: 15px;
}

#pollFormTable td{
	text-align: left;
	padding: 8px;
}

/* 작성하기 다시쓰기 창닫기 버튼 */
#pollBtnBox{
	text-align: center;
	margin-top: 25px;
}

#pollBtnBox .pollButton{
	padding:5px 10px;
	border-radius: 5px 5px 5px 5px;
	border:1px solid #fa8258;
	color: #333;
	font-size: 16px;
	margin-left: 10px; 
	margin-right: 10px; 
}

#pollBtnBox .pollButton:hover{
	background:#fff;
	cursor: pointer;
}
  