@charset "UTF-8";

#profileSet {
	width: 600px;
	height: auto;
	padding-top: 24px;
	margin: 0 auto; 
}
article {
	display: block;
	padding: 18px 32px;
	border: 1px solid #ccc;
	
	background: #fff;
	box-shadow: 0 3px 10px -2px rgb(0 0 0 / 8%);
	border: 1px solid rgba(0,0,0,.11);
	height: auto;
}
#img-frofile {
	width: 48px;
	height: 48px;
	border-radius: 100%;
}
#link_messenserMain {
	text-decoration: none;
	color: #777;
	line-height: 18px;
  font-size: 14px;
  color: #777;
  height: 35px;
}
#link_profileSet {
	font-weight: 700;
	text-decoration: none;
	color: #777;
	line-height: 18px;
  font-size: 14px;
  color: gray;
  height: 35px;
}
#btn-changeProfile {
	width: 48px;
	height: 48px;
	border: none;
	border-radius: 100%;
	text-shadow: 0 0 2px rgb(0 0 0 / 50%);
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	background-color: rgba(0,0,0,.3);
	opacity: 0;
	vertical-align: top;
	position: absolute;
		position: fixed;
	transform: translate(-100%, 0%);
}
#btn-changeProfile:hover {
	opacity: 100;
	cursor: pointer;
}
#btn-changeProfile-list {
	border: 1px solid #ccc;
	width: 150px;
	margin: auto;
	padding: 10px;
	line-height: 30px;
	background-color: #FAFAFA;
	position:fixed; /* 해상도 상관없이 항상 고정위치에 오도록*/
	transform: translate(55%, 0%);
}
.liststyle-none{
	list-style: none;
}
.hidden {
	visibility: hidden;
}
dl {
	line-height: 30px;
}
dt{
	font-weight: 700;
	float: left;
	color: #333;
	line-height: 40px;
	padding: 20px 0 20px 0;
}
dd{
	width: 350px;
	transform: translate(35%, 0%);	
	box-sizing: content-box;
	background-color: #fff;
	text-align: inherit;
	position: relative; /*노확실*/
	padding: 20px 10px 20px 20px;
}
dd:hover {
	cursor: pointer;
	background-color: #DDDDDD;
}
#name-openMode {
	display: none;
}
#email-openMode {
	display: none;
}
#pwd-openMode {
	display: none;
}
#del-openMode{
	display: none;
}
.i-green{
	position: relative;
	font-size: 10px;
	color: green;
	float: right;
	vertical-align: sub;
	margin-top: 10px;
	padding-right: 5px;
}
.btn-fff {
	  background-color: #fff;
    color: #888;
    border: 1px solid #DCDCDC;
}
