@charset "UTF-8";

.close-mode {
	display: block;
	cursor: pointer;
	display: block;
  margin-top: 3px;
  font-size: .9375rem;
  color: #505050;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  word-break: break-all;
}
.open-mode {
	visibility: hidden;
	display: none;
}
#hiddenlist {
	visibility: hidden;
}
#hiddenlist ul {
	list-style: none;
}

#wrap {
	padding-top: 24px;
	display: bor;
	margin: 0 auto; 
}
#wrap header {
	line-height: 18px;
  font-size: 14px;
  color: #777;
  height: 35px;
}
#wrap header a {
	text-decoration: none;
	font-size: .875rem;
	color: #777; 
}
#wrap .profileSet {
	font-weight: 600;
	color: gray;
	position: relative;
}
#wrap article {
	width: 573px;
	border: 1px solid rgba(0,0,0,.11);
	box-shadow: 0 3px 10px -2px rgb(0 0 0 / 8%);
  background: #fff;
  padding: 18px 32px;
  min-height: 240px;
  position: relative;
  display: block;
}
dl {
	position: relative;
  box-sizing: content-box;
  background-color: #fff;
  box-sizing: content-box;
  border-width: 1px 0;
  border-color: rgba(215,225,230,.6);
  border-style: solid;
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border-top-color: transparent;
  margin-top: 0;
  margin-bottom: 0;
}
dt{
	padding-top: 20px;
	font-size: 1rem;
  font-weight: 700;
  color: #333;
  float: left;
  display: table-cell;
  vertical-align: top;
  padding: 1.5625rem 0 1.5625rem .9375rem;
  vertical-align: top;
}
dd{
	width: 300px;
	display: table-cell;
	text-align: left;
	padding-top: 20px;
  padding-bottom: 24px;
  position: relative;
  vertical-align: top;
}
.borderNone{
	border: none;
}
.dlHover:hover {
	background-color: #c0c0c0;
	cursor: pointer;
}

.btn-fff {
	  background-color: #fff;
    color: #888;
    border: 1px solid #DCDCDC;
    min-width: 2em;
}

#profileSet {
	top: 0;
  left: 0;
}
#profileSet img {
	width: 48px;
	height: 48px;
	opacity: 100;
	border-radius: 100px; 
	position: relative;
}
#profileSet button{
	left: 0;
	width: 48px;
	height: 48px;
	border-radius: 100px;
	border: none;
	color: #ccc;
	text-shadow: 0 0 2px rgb(0 0 0 / 50%);
	font-size: 14px;
  font-weight: 700;
	text-align: center;
	background-color: rgba(0,0,0,.3);
	opacity: 0;
	vertical-align: top;
	position: absolute;
}
#profileSet button:hover {
	opacity: 100;
	cursor: pointer;
}

.floatRigt{
	position: relative;
	font-size: 10px;
	color: green;
	float: right;
	vertical-align: sub;
	margin-top: 10px;
	padding-right: 5px;
}


