@charset "UTF-8";

 * {
	box-sizing: border-box; 
}
html {
	overflow-y: scroll;
  overflow-x: hidden;
}
img {
	border: 0;
  vertical-align: top;
}
.close-mode {
	display: block;
	cursor: pointer;
	display: block;
  margin-top: 3px;
  font-size: .9375rem;
  color: #505050;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  word-break: break-all;
}
.open-mode {
	visibility: hidden;
	display: none;
}
#hiddenlist {
	visibility: hidden;
}
#hiddenlist ul {
	list-style: none;
}

#container {
	opacity: 1;
	transition: opacity .15s linear;
	min-width: 550px;
	padding-top: 60px;
	display: block;
	box-sizing: content-box;
	padding: 0 0 5px;
	color: #333;
}
#sub-container {
	padding-top: 24px;
}
#innerContainer {
	padding-top: 24px;
	display: block;
	
}
#innerContainer header {
	line-height: 18px;
  font-size: 14px;
  color: #777;
  height: 35px;
}
#innerContainer header a {
	text-decoration: none;
	font-size: .875rem;
	color: #777; 
}
#innerContainer .profileSet {
	font-weight: 600;
	color: gray;
	position: relative;
}
#innerContainer article {
	width: 573px;
	
	border: 1px solid rgba(0,0,0,.11);
	box-shadow: 0 3px 10px -2px rgb(0 0 0 / 8%);
  background: #fff;
  padding: 18px 32px;
  min-height: 240px;
  position: relative;
  display: block;
}
#img_profile {
	width: 48px;
	height: 48px;
	border-radius: 100px; 
}
dl {
	position: relative;
  box-sizing: content-box;
  background-color: #fff;
  box-sizing: content-box;
  border-width: 1px 0;
  border-color: rgba(215,225,230,.6);
  border-style: solid;
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border-top-color: transparent;
  margin-top: 0
}
dt{
	padding-top: 20px;
	font-size: 1rem;
  font-weight: 700;
  color: #333;
  padding: 1.5625rem 0 1.5625rem .9375rem;
  vertical-align: top;
  float: left;
  display: table-cell;
}
dd{
	width: 300px;
	vertical-align: top;
	padding: 1.375rem 3.75rem .875rem 0;
	display: table-cell;
	text-align: left;
	padding-top: 20px;
  padding-bottom: 24px;
  width: 300px;
}

.btn-fff {
	  background-color: #fff;
    color: #888;
    border: 1px solid #DCDCDC;
    min-width: 2em;
}
#btn_profileSet {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0 0 2px rgb(0 0 0 / 50%);
    opacity: 0;
}
userFrofile {
	position: absolute;
    top: 0;
    left: 0;
}



