@charset "UTF-8";
*{
	box-sizing: border-box;
}

#full-screen {
	margin: 0 auto;
}

#teamCreate{
  margin: 0 auto; 
  width: 400px;
  height: 1700px;
}

#teamCreate header h2{
	color: #333;
	text-align: center;
	font-weight: 400;
}
#teamCreate-article label {
	box-sizing:border-box;
	font-size: 16px;
	padding: 5px;
  font-weight: 700;
  color: #777;
}
.typeText1 {
	border: 1px solid #d2d2d2;
	border-radius: 4px;
	font-size: 16px;
	color: #505050;
	box-sizing :border-box;
  height: 2.875rem;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  box-sizing: border-box;
  margin-top: 5px;
  width: 100%;
}
.typeText2 {
	border: 1px solid #d2d2d2;
	border-right: none;
	border-radius: 4px 0 0 4px;
	font-size: 1rem;
	color: #505050;
  height: 2.875rem;
  padding: 0 .6875rem;
  background-color: #fff;
  box-sizing: border-box;
  padding-right: 0;
  width: 60%;
  display: inline;
}
.typeText3 {
  border-color: #d2d2d2;
  border-width: 1px 1px 1px 0;
  border-style: solid;
	margin-left: 0;
  border-radius: 0 4px 4px 0;
  height: 2.875rem;
  line-height: 2.75rem;
  background: #f1f4f8;
  text-indent: .625rem;
  color: #728b98;
  font-weight: 400;
  font-size: .875rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 38%;
}
section {
	padding: 10px 0;
}
#btn_Goteam button {
	width: 16.875rem;
  height: 2.875rem;
	background-color: rgba(204,204,204,.8);
  border-color: rgba(204,204,204,.8);
  color: rgba(255,255,255,.8);
  cursor: not-allowed;
  padding: 0 .75rem;
  margin-left: 60px;
  margin-top: 15px;
  border-radius: 3px;
  font-weight: 700;
  font-size: .9375rem; 
}
#btn_Goteam{
	margin: auto;
}