@charset "UTF-8";

/* 전체 CSS */
* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

/* 전체 Box */
#container {
	display: inline-block;
	width: 620px;
	height: 710px;
	margin: 10px;
	border: 2px solid #EAEBEB;
	border-radius: 10px 10px 10px 10px;
}

/* 채팅방 정보 및 검색 Box*/
#chatInfoContainer{
	display: flex;
	justify-content: space-between;
	width: 600px;
	height: 40px;
	padding-left: 10px;
	box-sizing: border-box;
	margin-top: 10px;
	margin-left: 8px;
	border: 2px solid #EAEBEB;
	border-radius: 10px 10px 10px 10px;	
	font-size: 16px;
	font-weight: bold;
	color: #fa8258;
}

/* 1) 채팅방 이름 Box*/
#infoContainer {
	padding-top: 2px;	
}

/* 2) 검색 Box */
#searchContainer {
	width: 250px;
	padding-right: 10px;
	text-align: right;
}

#inputSearch {
	width: 200px;
	height: 20px;
	font-size: 12px;
}

.searchIcon {
	text-align: right;
	font-size: 20px;
	border: none;
	background-color: transparent;
  color: black;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
}

.searchIcon:hover {
  color: #fa8258;
  cursor: pointer;
}

/* 채팅 내용 Box */
#chatContainer {
	margin: 10px;
	min-height: 490px;
	max-height: 490px;
	vertical-align: bottom;
	overflow: scroll;
	overflow-x: hidden;
	border: 2px solid #EAEBEB;
	border-radius: 10px 10px 10px 10px;
	background-color: #E1E1E1;
}

/* 메시지 입력 및 아이콘 및 전송 Box */
#bottomContainer {
	width: 605px;
	height: 140px;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
	background-color: #fff;
	margin: 0px;
	margin-left: 8px;
	border: 2px solid #EAEBEB;
	border-radius: 10px 10px 10px 10px;	
}

/* 1) 메시지 입력 */
#inputChat {
	width: 580px;
	height: 75px;
	font-size: 15px;
	border: none;
	resize: none;
}

/* 2) 아이콘 Box */
#manuContainer {
	margin-top: 15px;
	display: inline-block;
}

.btnIcon {
	margin-right: 10px;
	font-size: 20px;
	border: none;
	background-color: transparent;
  color: black;
  border-radius: 5px 5px 5px 5px;
}

.btnIcon:hover {
  color: #fa8258;
  cursor: pointer;
}

/* 3) 전송 Box */
#submitContainer {
	margin-top: 12px;
	float: right;
}

#btnChatSubmit {
	clear: both;
	width: 60px;
	height: 30px;
	background-color: #fa8258;
	color: #fff;
	font-weight: bold;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
}

/* server 공지(입장, 퇴장) */
.notice {
	margin: 5px;
	min-height: 20px;
	padding: 5px;
	min-width: 50px;
	width: auto;
	height: auto;
	word-break: break-all;
	display: block;
	text-align: center;
	font-size: 12px;
	border: none;
	background-color: #EEEEEE;
}

/* chat 기본설정(otherChat) 및 myChat 및 chatInfo(채팅시간)*/
.chat {
	width: auto;
	min-height: 20px;
	height: auto;
	margin: 5px;
	padding: 5px;
	text-align: left;
	font-size: 15px;
	color: black;
	word-break: break-all;
	background: #ffffff;
	
	display: inline-block;
	border-radius: 10px 10px 10px 10px;
}

.myChat {
	background: #fa8258;
	text-align: justify;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	border-radius: 10px 10px 10px 10px;
}

.chatInfo {
	clear: both;
	color: #556677;
	font-size: 10px;
	text-align: right;
	padding: 5px;
	padding-top: 0px;
}

/* 상대방이 보낸 채팅 */

.otherChatBox {
	clear: both;
	text-align: left;
	margin-left: 10px;
}

.myChatBox {
	clear: both;
	text-align: right;
	margin-right: 10px;
}
